text
{
    font: 12px sans-serif;
}

svg
{
    display: block;
}

html, body, #chart1, svg
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#chartZoom
{
    position: absolute;
    top: 0;
    left: 0;
}