.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}
.legend {
    font-size: 14px;
    font-weight: bold;
}

.jumbotron {
	font-size: 13px:;
}